*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 80%;
}
body {
  background-color: #333;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: whitesmoke;
  text-shadow: rgb(19, 19, 19) 1px 1px 2px;
}
.game {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 100vh));

  cursor: pointer;
}
.card {
  transition: 0.4s all;
  position: relative;
  box-shadow: black 3px 4px 7px;
  overflow: hidden;
}
.imgHolder {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
h1 {
  font-weight: 300;
  margin-top: 2rem;
  font-size: 5rem;
}
.card:hover {
  box-shadow: black 3px 4px 17px;
  transform: translateY(-3px) scale(1.01);
}

.card::after {
  transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  background-color: rgba(14, 14, 14, 0.555);
}
/* .card::before {
  position: absolute;
  content: "Play Now";
  font-size: 4.5rem;
  letter-spacing: -1px;
    font-style: italic;  
  width: 100%;
  top: 40%;
  left: 0%;
  z-index: 2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.3s 0.3s all ease-in;
  pointer-events: none;
} 
*/

.congratulation {
  position: absolute;
  bottom: 0.5rem;
  right: 2rem;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: 200;
  color: tan;
}
